<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=847&q=80);">
  <div class="container">
    <h1>Try your future !</h1>

  </div>
</div>
 <!-- Search form -->
<%= simple_form_for :search, url: cars_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query"  id="search_query" />
      <%= f.input :start_date_day, collection: 1..30 %>



     <%= f.input :start_time, as: :time %>

    <button name="button" type="submit" class="btn btn-flat">



      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>




